/* header */
.header {
  padding: 8px 0;
  &Mid {
    background: var(--color-white);
    border-bottom: 1px solid var(--color-light);
    border-top: 1px solid var(--color-light);
    padding: 4px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0 0 var(--gap);
  }
  &Container {display: flex; align-items: center; position: relative; justify-content: space-between;}
  &Logo {
    margin: 0 30px 0 0;
    img {display: block;}
  }
  &AddressBox {
    font-size: 16px;
    font-family: var(--font2);
    margin-left: auto;
    margin-right: var(--gap);
  }
}


@media screen and (max-width: 992px) {
  .headerLogo {margin-right: 16px;}
}