.card {
  margin: 0 0 24px;
  &Gallery {
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin: 0 0 20px;
    img {display: block; max-height: 260px;}
  }
  &Item {
    margin: 0 0 24px;
  }
  &Price {
    color: var(--color-green);
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    margin: 24px 0;
    small {font-weight: 400; font-size: 16px;}
  }
}

@media screen and (max-width: 750px) {
  .cardGallery {
    min-height: 200px;
    img {max-height: 180px;}
  }
}