.gallery {
  margin: 0 0 20px;
  &Big {
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 8px;
    padding: 10px;
    height: 220px;
    img {display: block; max-height: 200px;}
  }
  &Thumbs {
    &Item {
      border: 1px solid var(--color-grey);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      min-height: 100%;
      img {display: block; max-height: 60px;}
    }
  }
}