.package {
  display: inline-block;
  position: relative;
  margin: 0 4px 0 0;
  &:last-child {margin: 0;}
  &s {
    display: flex;
    margin: 0 0 20px;
  }
  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  span {
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    color: var(--color-text2);
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 8px;
    min-width: 40px;
    text-align: center;
  }
  input:checked + span {
    background: var(--color-light);
    border-color: var(--color-text2);
    color: var(--color-text);
  }
}