.orderForm {
  &Grid {margin: 0 0 24px;}
  &Section {
    background: var(--color-light);
    border-radius: 8px;
    padding: 16px;
    min-height: 100%;
  }
  &Footer {
    display: flex;
    justify-content: space-between;
  }
}

.orderCart {
  border: 1px solid var(--color-green-hover);
  border-radius: 8px;
  padding: 12px;
  position: sticky;
  top: 70px;
  margin: 0 0 16px;
  &Total {
    text-align: right;
    font-size: 18px;
    line-height: 20px;
    small {font-size: 14px; margin-left: 4px;}
  }
}

.orderItem {
  background: var(--color-light);
  border-radius: 4px;
  display: flex;
  margin: 0 0 8px;
  padding: 12px;
  &:last-child {margin: 0;}
  &Img {
    min-width: 50px;
    max-width: 50px;
    margin: 0 12px 0 0;
    img {display: block;}
  }
  &Desc {
    flex: 1; font-size: 13px; line-height: 14px; color: var(--color-text2);
    p {margin: 0 0 2px;}
    p:last-child {margin: 0;}
    span {color: var(--color-text); font-weight: 500;}
  }
  &Title {
    color: var(--color-text);
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin: 0 0 8px;
  }
}


@media screen and (max-width: 540px) {
  .orderFormFooter {display: block;}
  .orderFormBtn {margin: 0 0 10px; width: 100%;}
}