/* footer */
.footer {
  background: var(--color-light);
  padding: 40px 0;
  &Title {
    font-size: 16px;
    line-height: 20px;
    font-family: var(--font2);
    font-weight: 700;
    margin: 0 0 12px;
  }
}

/* socials */
.socials {
  display: flex; align-items: center; margin: 0 0 24px;
  &Item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
    &:last-child {margin: 0;}
    &Twitter {background-image: url('./../../../assets/twitter.svg');}
    &Instagram {background-image: url('./../../../assets/instagram.svg');}
    &Facebook {background-image: url('./../../../assets/facebook.svg');}
  }
}