.homebanner {
  background-image: url('./../../../assets/banner-sm.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  display: block;
  height: 200px;
  margin: 0 0 20px;
  &s {margin: 0 0 30px;}
}