.homebanner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  height: 200px;
  margin: 0 0 20px;
  padding: 14px 20px;
  position: relative;
  text-decoration: none;
  &s {margin: 0 0 30px;}
  &Title {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
  }
  &Grid {
    &:nth-child(1) .homebanner {background-image: url('./../../../assets/banner1.webp');}
    &:nth-child(2) .homebanner {background-image: url('./../../../assets/banner2.webp');}
    &:nth-child(3) .homebanner {background-image: url('./../../../assets/banner3.webp');}
  }
}