.chosenFilter {
  margin: 0 0 15px;
  &Title {
    margin: 0 0 15px;
  }
  &Item {
    background: var(--color-light);
    border-radius: 32px;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    margin: 0 5px 5px 0;
    padding: 6px 12px;
  }
}