@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
  --font: 'Roboto', sans-serif;
  --font2: 'Roboto Condensed', sans-serif;
  --color-light: #e1e1e1;
  --color-extralight: #f1f1f1;
  --color-grey: #cacaca;
  --color-text: #252525;
  --color-text2: #757575;
  --color-danger: #e13535;
  --color-danger-hover: #b51c1c;
  --color-danger-light: #fbdcdc;
  --color-success: rgb(87, 127, 27);
  --color-success-light: rgb(244, 251, 234);
  --color-success-hover: rgb(87, 127, 27);
  --color-white: #ffffff;
  --color-white-hover: #e1e1e1;
  --gap: 24px;
  --pb: 16px;
  --radius: 6px;
  --section: 48px;
  --swiper-navigation-size: 20px !important;
  --container: 1200px;
}

@mixin bf {
  content: '';
  position: absolute;
  display: block;
}

/* global */
* { box-sizing: border-box; }
body {
  color: var(--color-text);
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-size: 14px;
  line-height: 20px;
}
.row {margin-left: -10px; margin-right: -10px;}
.row-sm {margin-left: -4px; margin-right: -4px;}
[class*="col-"] {padding-left: 10px; padding-right: 10px;}
.row-sm > [class*="col-"] {padding-left: 4px; padding-right: 4px;}
img {max-width: 100%;}
button { outline: none; }
a {color: var(--color-success); text-decoration: none;}
a:hover {color: var(--color-success-hover); text-decoration: underline;}
.goods-row { margin-bottom: var(--pb); }
.section { margin: 0 0 var(--section); }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* headers */
h1, h2, h3, .pagetitle {
  font-family: var(--font2);
  font-size: 28px;
  line-height: 32px;
  margin: 0 0 24px;
  a {color: inherit; text-decoration: none;}
  a:hover {color: var(--color-success-hover);}
}
h2 {font-size: 24px; line-height: 28px;}
h3 {font-size: 20px; line-height: 24px;}



/* pagehead */
.pagehead {
  display: flex; margin: 0 0 24px; align-items: center; justify-content: space-between;
  .pagetitle {margin: 0;}
  &-btns {
    display: flex; align-items: center;
    .swiper-button-prev, .swiper-button-next {
      position: relative; left: auto; right: auto; top: auto;
      margin: 0;
    }
    .swiper-button-prev {margin: 0 20px 0 0;}
  }
}


/* container */
.container {
  margin: 0 auto;
  max-width: var(--container);
  padding: 0 calc(var(--gap) / 2);
  width: 100%;
}

/* css grid */
.grid {
  display: grid;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
  
  @for $i from 1 through 6 {
    &-#{$i} { grid-template-columns: repeat($i, 1fr); }
  }
}

/* catpage */
.catpage {
  &-left { grid-area: 1 / 1 / 2 / 2; }
  &-right { grid-area: 1 / 2 / 2 / 5; }
  &-description { grid-area: 2 / 1 / 3 / 5; }
}
.goodlist {
  grid-column-gap: calc(var(--gap) / 2);
  grid-row-gap: calc(var(--gap) / 2);
  margin-bottom: var(--gap);
}




/* btn-nav */
.btn-nav {
  background: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: none;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 34px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  span::after, span::before {content: ''; display: block;}
  span, span::after, span::before {
    background: var(--color-text);
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 200ms ease-in-out;
  }
  span {top: 50%; margin-top: -1px;}
  span::before {top: -8px;}
  span::after {bottom: -8px;}
  &.active {
    span {background: 0;}
    span::before {transform: rotate(45deg); top: 0;}
    span::after {transform: rotate(-45deg); bottom: 0;}
  }
}

@media screen and (max-width: 992px) {
  .btn-nav {display: block;}
}


/* swiper settings */
.swiper {
  &-pagination {
    &-bullet {
      background: var(--color-grey) !important;
      opacity: 1 !important;
      &-active {background: var(--color-success-hover) !important;}
    }
  }
}


/* fancybox */
.fancybox__backdrop {
  background: rgba(0,0,0,0.65) !important;
  opacity: 1 !important;
  backdrop-filter: blur(10px);
}


/* carousel_body */
.carousel_body {
  margin-bottom: 50px;
  position: relative;
  .pagetitle {margin: 0 0 32px;}
  .swiper {position: static;}
  .swiper-pagination {
    position: relative !important;
    left: auto !important;
    bottom: auto !important;
    width: auto !important;
    margin: 15px 0 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 0; margin: 0; width: 40px; height: 40px; color: var(--color-success-hover);
    border-radius: 50%; background: var(--color-light);
  }
  .swiper-button-prev {left: auto; right: 60px;}
  .swiper-button-next {right: 0;}
}





/* Responsive */
@media screen and (max-width: 1000px) {
  .pagetitle, .pagehead, .carousel_body .pagetitle {margin: 0 0 24px;}
  .swiper-button-prev, .swiper-button-next {display: none !important;}

  /* grid */
  .grid {
    @for $i from 1 through 6 {
      &-tb-#{$i} { grid-template-columns: repeat($i, 1fr); }
    }
  }
}

@media screen and (max-width: 750px) {
  :root {
    --gap: 16px;
  }

  /* grid */
  .grid {
    @for $i from 1 through 6 {
      &-mb-#{$i} { grid-template-columns: repeat($i, 1fr); }
    }
  }

}