@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
  --font: 'Roboto', sans-serif;
  --font2: 'Roboto Condensed', sans-serif;
  --color-green: rgba(120,170,44);
  --color-green-hover: rgb(87, 127, 27);
  --color-lightgreen: rgb(231, 243, 198);
  --color-light: #ededed;
  --color-grey: #cacaca;
  --color-text: #252525;
  --color-text2: #757575;
  --color-danger: #ff0000;
}

@mixin bf {
  content: '';
  position: absolute;
  display: block;
}

/* global */
body {
  color: var(--color-text);
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}
.row {margin-left: -10px; margin-right: -10px;}
.row-sm {margin-left: -4px; margin-right: -4px;}
[class*="col-"] {padding-left: 10px; padding-right: 10px;}
.row-sm > [class*="col-"] {padding-left: 4px; padding-right: 4px;}
img {max-width: 100%;}
a {color: var(--color-green);}
a:hover {color: var(--color-green-hover);}
.form-field {margin: 0 0 16px;}
.btn-block {width: 100%;}
.main_container {padding-top: 20px; padding-bottom: 40px; flex: 1;}
.goods-row {margin-bottom: 20px;}
.breadcrumb {margin-bottom: 24px;}

h1, h3 {
  font-family: var(--font2);
  font-size: 28px;
  line-height: 32px;
  margin: 0 0 24px;
}
h3 {font-size: 20px; line-height: 24px;}


/* forms */
.btn {
  border-radius: 6px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 20px;
  &-success {
    background-color: var(--color-green);
    border-color: transparent;
    color: #fff;
    &:hover, &:active {
      background-color: var(--color-green-hover) !important;
      border-color: transparent !important;
    }
  }
  &-outline-success {
    border-color: var(--color-green) !important;
    color: var(--color-green) !important;
    &:hover, &:active {
      background: var(--color-green-hover) !important;
      border-color: var(--color-green-hover) !important;
      color: #fff !important;
    }
    &.active {
      background-color: var(--color-lightgreen) !important;
      border-color: transparent !important;
      color: var(--color-text) !important;
    }
  }
  &-sm {
    font-size: 14px;
    line-height: 18px;
    padding: 6px 12px;
  }
}

.form-control, .form-select {
  box-shadow: none !important;
}

/* form-control */
.form-control {
  border-color: var(--color-grey);
  box-shadow: none !important;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  padding: 8px 14px;
  font-family: var(--font);
  &:focus {border-color: var(--color-green);}
  &.error {border-color: var(--color-danger);}
}
textarea.form-control {
  height: 100px;
  resize: none;
}


/* header */
.header {
  padding: 8px 0;
  &-mid {background: #fff; padding: 4px 0; position: sticky; top: 0; z-index: 1000;}
  &, &-mid {
    border-bottom: 1px solid #ededed;
    .container {display: flex; align-items: center; position: relative;}
  }
  .container {justify-content: space-between;}
  &-logo {
    margin: 0 30px 0 0;
    img {display: block;}
  }
  &-address {font-size: 14px; line-height: 18px;}
}


/* navmenu */
.navmenu {
  &_ul {display: flex; align-items: center; margin: 0; padding: 0;}
  li {list-style: none; margin: 0 2px 0 0; font-size: 14px; line-height: 16px;}
  li a {
    background: #fff; border-radius: 6px; color: #000;
    display: block; text-decoration: none; padding: 8px 12px;
    &.active {background: var(--color-green); color: #fff;}
  }
}


/* btn-nav */
.btn-nav {
  background: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: none;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 34px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  span::after, span::before {content: ''; display: block;}
  span, span::after, span::before {
    background: var(--color-text);
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 200ms ease-in-out;
  }
  span {top: 50%; margin-top: -1px;}
  span::before {top: -8px;}
  span::after {bottom: -8px;}
  &.active {
    span {background: 0;}
    span::before {transform: rotate(45deg); top: 0;}
    span::after {transform: rotate(-45deg); bottom: 0;}
  }
}

@media screen and (max-width: 992px) {
  .header-logo {margin-right: 16px;}
  .btn-nav {display: block;}
  .navmenu_ul {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.55);
    display: block;
    left: 10px;
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    z-index: 1100;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
    &.opened {
      opacity: 1;
      visibility: visible;
    }
  }
}


/* catpopup */
.catpopup {
  &-btn {position: relative;}
  &-dropdown {
    background: #fff; box-shadow: 0 2px 8px rgba(0,0,0,0.25); margin-top: 10px;
    border-radius: 8px; left: 12px; right: 12px; position: absolute !important;
    padding: 30px; z-index: 1000;
  }
  &-item {margin-bottom: 40px;}
  &-list {column-count: 6; column-gap: 20px;}
  &-header {
    font-weight: 700; margin: 0 0 24px; font-size: 24px; line-height: 28px;
    font-family: var(--font2);
  }
  &-title {
    font-weight: 700; margin: 0 0 14px; font-size: 18px; line-height: 20px;
    font-family: var(--font2);
    a {color: inherit; text-decoration: none; display: flex; align-items: center;}
    a:hover {color: var(--color-green-hover);}
  }
  &-img {
    display: block; margin: 0 10px 0 0; min-width: 40px; max-width: 40px;
    img {display: block;}
  }
  ul {
    margin: 0 0 0 50px; padding: 0;
    li {
      list-style: none; margin: 0 0 10px; font-size: 14px; line-height: 16px;
      position: relative;
      &::before {
        content: ''; display: block; position: absolute; left: -20px; width: 10px;
        background: var(--color-text2); height: 1px; top: 50%;
      }
    }
    li:last-child {margin: 0;}
    li a {
      color: var(--color-text2); text-decoration: none;
      &:hover {color: var(--color-green-hover);}
    }
  }
  &-overlay {
    background: rgba(0,0,0,0.65); position: fixed; left: 0; top: 0;
    right: 0; bottom: 0; z-index: 999;
  }
  &-dropdown, &-overlay {transition: all 200ms ease-in-out; opacity: 0; visibility: hidden;}
  &.opened &-btn {z-index: 1000;}
  &.opened &-dropdown {opacity: 1; visibility: visible; z-index: 1000;}
  &.opened &-overlay {opacity: 1; visibility: visible;}
}


/* footer */
.footer {
  background: var(--color-light);
  padding: 40px 0;
}