.tagIcon {
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-family: var(--font2);
  line-height: 16px;
  padding: 4px 8px 3px;
  display: block;
  margin: 0 0 4px;
  &Hit {background: #f48216;}
  &Sale {background: #e13535;}
  &New {background: var(--color-green);}
}