.advantage {
  border: 1px solid #ededed;
  border-radius: 10px;
  min-height: 100%;
  padding: 20px;
  text-align: center;
  &s {margin-bottom: 30px;}
  &Grid {margin-bottom: 20px;}
  img {margin-bottom: 20px;}
  &Title {font-weight: 700; margin: 0 0 10px; font-size: 18px; line-height: 22px;}
}